#weatherForm {
    text-align: center;
    background-color: cadetblue;
}

#jerusalem {
    background-image: url('../../assets/img/jerusalem.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    background-color: lightblue;
}

.example-card {
  max-width: 400px;
  margin-left: auto;
margin-right: auto;
}

.example-header-image {
  /* background-image: url(''); */
  background-size: cover;
}